{
  "id": {{ id }},
  "firstName": "{{ fake.first_name() }}",
  "lastName": "{{ fake.last_name() }}",
  "friends": [{% for n in range(range(5) | random) %}
    {
      "id": "{{ random.uuid4() }}"
    }{% if not loop.last %},{% endif %}
  {% endfor %}]
}
