language: python
python:
  - "3.8"
branches:
  only:
    - main
    - /^(\d+\.?)+$/
services:
  - docker
addons:
  hosts:
    - service1.example.com
    - service2.example.com
    - service3.example.com
install:
  - travis_fold start "Install.Pip.Package" && make install-cloud && make install-dev && pip3 show mockintosh && travis_fold end "Install.Pip.Package"
  - travis_fold start "Build.Image" && make build && docker image ls mockintosh && travis_fold end "Build.Image"
script:
  - stty cols 120
  - ./ps.sh &
  - travis_fold start "Unit.Tests" && make test-with-coverage && travis_fold end "Unit.Tests"
  - travis_fold start "StopContainers.Tests" && make stop-containers && travis_fold end "StopContainers.Tests"
  - travis_fold start "Integration.Tests" && make test-integration && travis_fold end "Integration.Tests"
after_success:
  - if [[ $TRAVIS_TAG =~ ^([0-9]+\.?)+$ ]]; then ./release.sh; else echo Not pushing "$TRAVIS_TAG"; fi
  - make coverage-after
  - codecov
# after_failure:
#  - travis_fold start "server_log" && ( cat tests_integrated/server.log || echo No logfile) && travis_fold end "server_log" # the log from container
before_deploy:
  - pwd
  - ./msi.sh
  - find dist
  - find build
deploy:
  - edge: true  # use latest v2 deploy
    provider: pypi
    distributions: "sdist bdist_wheel"
    skip_cleanup: true
    skip_existing: true
    on:
      tags: true
  - provider: releases
    api_key: "$GH_TOKEN"
    # file_glob: true
    file: "build/nsis/Mockintosh_0.13.8_x64.exe"
    skip_cleanup: true
    on:
      tags: true