Jinja2==2.11.3
Faker==4.18.0
tornado>=6.1
PyYAML>=5.4
jsonschema==3.2.0
pybars4>=0.9.11
accept-types==0.4.1
jsonpath-ng==1.5.2
httpx==0.17.1
confluent-kafka>=1.6.1
prance[osv]>=0.21.2
pika>=1.2.0
PyRSMQ>=0.4.5
paho-mqtt>=1.5.1
graphql-core>=3.1.5
