{
    "services": [
        {
            "comment": "Mock for http://example.com",
            "port": 8001,
            "endpoints": [
                {
                    "path": "/users",
                    "response": {
                        "users": [{% for n in range(5) %}
                            {
                                "userId": "{{ range(10000, 100000) | random }}",
                                "firstname": "{{ fake.first_name() }}",
                                "lastname": "{{ fake.last_name() }}",
                                "friends": [{% for n in range(range(5) | random) %}
                                    {
                                        "id": "{{ uuid() }}"
                                    }{% if not loop.last %},{% endif %}
                                {% endfor %}]
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}],
                        "total": 10
                    }
                }
            ]
        }
    ]
}
