{
  "data": {
    "hero": {
      "name": "{{ name_eq }}",
      "age": {{ random.int(age_gt, 50) }},
      "friends": [
        {
          "name": "Luke Skywalker"
        },
        {
          "name": "Han Solo"
        },
        {
          "name": "Leia Organa"
        }
      ]
    }
  }
}
