---
body:
  users:
  {% for n in range(5) %}
  - userId: {{ range(10000, 100000) | random }}
    firstName: '{{ fake.first_name() }}'
    lastName: '{{ fake.last_name() }}'
    friends:
    {% for n in range(range(5) | random) %}
    - id: '{{ uuid() }}'
    {% endfor %}
  {% endfor %}
  total: 10
