{
  "now": "{{ date.date('%Y-%m-%d %H:%M %f') }}",
  "1_week_back": "{{ date.date('%Y-%m-%d %H:%M %f', -604800) }}",
  "1_week_forward": "{{ date.date('%Y-%m-%d %H:%M %f', 604800) }}",
  "1_day_back": "{{ date.date('%Y-%m-%d %H:%M %f', 86400) }}",
  "1_day_forward": "{{ date.date('%Y-%m-%d %H:%M %f', 86400) }}",
  "1_hour_back": "{{ date.date('%Y-%m-%d %H:%M %f', -3600) }}",
  "1_hour_forward": "{{ date.date('%Y-%m-%d %H:%M %f', 3600) }}",
  "1_minute_back": "{{ date.date('%Y-%m-%d %H:%M %f', -60) }}",
  "1_minute_forward": "{{ date.date('%Y-%m-%d %H:%M %f', 60) }}"
}
